/* Стили для выпадающего меню */
.mobile-menu-content {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%; /* Начальное положение за экраном */
    width: 60vw; /* Занимает всю ширину экрана */
    height: 100vh;
    background-color: #000;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру */
    padding: 0 clamp(1rem, 5vw, 8rem); /* Такие же отступы, как у nav--container */
    gap: 2rem;
    transition: left 0.3s ease-in-out;
    justify-content: flex-start; /* Контент начинается сверху */
    box-sizing: border-box; /* Чтобы padding не влиял на общую ширину */
    padding-bottom: 4rem;

    &.open {
        left: 0; /* Показываем меню */
    }

    .mobile-logo {
        background: url(../../assets/media/svg/logo.svg) no-repeat;
        width: 180px; /* Такая же ширина, как у .logo */
        height: 60px; /* Такая же высота, как у .logo */
        background-size: contain;
        margin-top: 17px;
        margin-bottom: 5rem;
        margin-left: 5px;
    }

    .social--links {
        display: flex;
        gap: 1.5rem;
        margin-top: auto; /* Прижимает блок к низу */
        justify-content: center;
        width: 100%;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .top--menu,
    .contact--button {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}